@model ToDoApp.DTOs.ForgotPasswordEmailDTO;
@{
    ViewData["Title"] = "Forgot password";
}
    <h1 class="mt-5 mb-4">Enter your email and we'll send you a number to reset your password.</h1>
<form method="post">
    <div class="mb-3">
    <label asp-for="Email"></label> 
    <input asp-for="Email" class="form-control" type="email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
    <br />
    <span class="text-danger">@ViewData["error"]</span>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}