@model ToDoApp.DTOs.PasswordDTO;
@{
    ViewData["Title"] = "Reset password";
}
<h1 class="mt-5 mb-4">Change your password.</h1>
<form class="mt-5" method="post">
    <div class="mb-3">
    <label asp-for="Password"></label>
    <input id="password" asp-for="Password" class="form-control" type="password"/>
    <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <label asp-for="Repassword"></label>
    <input id="password" asp-for="Repassword" class="form-control" type="password"/>
    <span asp-validation-for="Repassword" class="text-danger"></span>
    </div>
    <button onclick="return check();" type="submit" class="btn btn-primary" style="width:150px">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}